@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,900;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.4;
}
main {
    margin-top: 80px;
    height: 100vh;
}
.container__main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.fan__zone {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.3;
    font-weight: normal;
}
.fan__first {
    padding-bottom: 20px;
}
.questens, 
.intervier {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}
.line {
    content: '';
    max-width: 1200px;
    border:rgba(185, 16, 16, 1) 2px solid;
    margin-bottom: 15px;
}
.latters__fan {
    float: right;
}
#myInput {
    width: 300px;
    height: 6rem;
}
#myBtn {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    outline: none;
    border: none;
    font-size: 1rem;
    background: rgb(207, 137, 137);
}
.logo::before {
    color: #fff;
}
.logo:hover {
    color: rgb(207, 137, 137);
    transform: rotate(10deg);
}